body{
    text-align: center;
}

h1{
    padding-bottom: 50px;
}

button{
    margin-top: 70px;
    padding: 5px 20px;
    background-color: rgb(86, 86, 95);
    color: white;
    border-radius: 5%;
}

.error{
    color: red;
    font-size: 14px;
}